# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/
node_modules

# 3. 忽略某类文件（用通配符 *）
*.log               # 忽略所有 .log 后缀的文件
*.zip               # 忽略所有压缩包
*.pyc               # 忽略 Python 编译后的文件
*.exe

# tool
codeline_report.py
collect_code.py
list_code_files.py
collected_code.md
dirs.txt
files.txt
dist/
/data/inktrace.db
/data/novel/修仙从逃出生天开始.txt
/data/novel/大纲.txt
/codeline_report_20260317_155941.txt
/desktop/assets/icon1.ico
/desktop/assets/icon1.png
/desktop/assets/icon2.png
/desktop/assets/icon3.png
/desktop/assets/icon4.png
/desktop/assets/icon5.png
/desktop/assets/icon6.png
/.trae/rules/ink-trace-rules.md
/backend/src/infrastructure/persistence/sqlite/schema_v2.sql
/.trae/skills/docx/SKILL.md
/exports/修仙从逃出生天开始.md
/exports/chapter_exports/0001_测试章节.md
/exports/chapter_txt_exports/0001_测试章节.txt
/exports/flow_dir_md/0001_起.md
/exports/flow_dir_txt/0001_起.txt
/exports/flow_dir_md/0002_承.md
/exports/flow_dir_txt/0002_承.txt
/exports/chapter_exports/0002_测试章节.md
/exports/chapter_txt_exports/0002_测试章节.txt
/exports/chapter_exports/0003_测试章节.md
/exports/chapter_txt_exports/0003_测试章节.txt
/data/novel/优化1.txt
/exports/nested/章节_一_.md
/exports/chapter_exports/第1章_第1章 测试章节.md
/exports/chapter_txt_exports/第1章_第1章 测试章节.txt
/exports/chapter_exports/第2章_第2章 测试章节.md
/exports/chapter_txt_exports/第2章_第2章 测试章节.txt
/exports/chapter_exports/第3章_第3章 测试章节.md
/exports/chapter_txt_exports/第3章_第3章 测试章节.txt
/exports/flow_full.md
/exports/flow_full.txt
/exports/chapter_group_exports/0001_0010_chapters.md
/exports/修仙从逃出生天开始/0001_0010_chapters.txt
/exports/修仙从逃出生天开始.txt/0001_跑.txt
/exports/修仙从逃出生天开始.txt/0002_逃出生天.txt
/exports/修仙从逃出生天开始.txt/0003_传道.txt
/exports/修仙从逃出生天开始.txt/0004_回家.txt
/exports/修仙从逃出生天开始.txt/0005_偷家.txt
/exports/修仙从逃出生天开始.txt/0006_修行.txt
/exports/修仙从逃出生天开始.txt/0007_程序员.txt
/exports/修仙从逃出生天开始.txt/0008_筑基.txt
/exports/修仙从逃出生天开始.txt/0009_倾诉.txt
/exports/修仙从逃出生天开始.txt/0010_变化.txt
/exports/chapter_group_exports/0011_0012_chapters.md
/exports/修仙从逃出生天开始/0011_0020_chapters.txt
/exports/修仙从逃出生天开始.txt/0011_传说.txt
/exports/修仙从逃出生天开始.txt/0012_国安局.txt
/exports/修仙从逃出生天开始.txt/0013_修仙要有证？.txt
/exports/修仙从逃出生天开始.txt/0014_事有蹊跷.txt
/exports/修仙从逃出生天开始.txt/0015_谋算.txt
/exports/修仙从逃出生天开始.txt/0016_宋成失踪.txt
/exports/修仙从逃出生天开始.txt/0017_威胁.txt
/exports/修仙从逃出生天开始.txt/0018_凡圣暴怒.txt
/exports/修仙从逃出生天开始.txt/0019_初显神威.txt
/exports/修仙从逃出生天开始.txt/0020_进来吧.txt
/exports/修仙从逃出生天开始/0021_0030_chapters.txt
/exports/修仙从逃出生天开始.txt/0021_我也要修仙.txt
/exports/修仙从逃出生天开始.txt/0022_战后余韵.txt
/exports/修仙从逃出生天开始.txt/0023_一无所获.txt
/exports/修仙从逃出生天开始.txt/0024_匪踪.txt
/exports/修仙从逃出生天开始.txt/0025_来自郑直的邀请.txt
/exports/修仙从逃出生天开始.txt/0026_考验.txt
/exports/修仙从逃出生天开始.txt/0027_事发突然.txt
/exports/修仙从逃出生天开始.txt/0028_真相一角.txt
/exports/修仙从逃出生天开始.txt/0029_案中案.txt
/exports/修仙从逃出生天开始.txt/0030_仇报一半.txt
/exports/修仙从逃出生天开始/0031_0040_chapters.txt
/exports/修仙从逃出生天开始.txt/0031_潭边悟道.txt
/exports/修仙从逃出生天开始.txt/0032_潜心修炼.txt
/exports/修仙从逃出生天开始.txt/0033_异常.txt
/exports/修仙从逃出生天开始.txt/0034_机缘巧合.txt
/exports/修仙从逃出生天开始.txt/0035_大仇得报.txt
/exports/修仙从逃出生天开始.txt/0036_尘埃落定.txt
/exports/修仙从逃出生天开始.txt/0037_青云子.txt
/exports/修仙从逃出生天开始.txt/0038_回，则盛世来临；若不回，那便不回吧！.txt
/exports/修仙从逃出生天开始.txt/0039_丹霞阁.txt
/exports/修仙从逃出生天开始.txt/0040_丹药.txt
/exports/修仙从逃出生天开始/0041_0050_chapters.txt
/exports/修仙从逃出生天开始.txt/0041_阵法.txt
/exports/修仙从逃出生天开始.txt/0042_宋成到来.txt
/exports/修仙从逃出生天开始.txt/0043_丹霞阁道统.txt
/exports/修仙从逃出生天开始.txt/0044_吾道不孤.txt
/exports/修仙从逃出生天开始.txt/0045_他也是个变态.txt
/exports/修仙从逃出生天开始.txt/0046_宋成（一）.txt
/exports/修仙从逃出生天开始.txt/0047_宋成（二）.txt
/exports/修仙从逃出生天开始.txt/0048_宋成（三）.txt
/exports/修仙从逃出生天开始.txt/0049_紧急召唤.txt
/exports/修仙从逃出生天开始.txt/0050_超自然组.txt
/exports/修仙从逃出生天开始/0051_0060_chapters.txt
/exports/修仙从逃出生天开始.txt/0051_百年辛密（一）.txt
/exports/修仙从逃出生天开始.txt/0052_百年辛密（二）.txt
/exports/修仙从逃出生天开始.txt/0053_百年辛密（三）.txt
/exports/修仙从逃出生天开始.txt/0054_大行动.txt
/exports/修仙从逃出生天开始.txt/0055_离去.txt
/exports/修仙从逃出生天开始.txt/0056_拉开帷幕.txt
/exports/修仙从逃出生天开始.txt/0057_一个插曲.txt
/exports/修仙从逃出生天开始.txt/0058_来自武当的馈赠.txt
/exports/修仙从逃出生天开始.txt/0059_婆娑迷离.txt
/exports/修仙从逃出生天开始.txt/0060_风云际会.txt
/exports/修仙从逃出生天开始/0061_0070_chapters.txt
/exports/修仙从逃出生天开始.txt/0061_出发.txt
/exports/修仙从逃出生天开始.txt/0062_踏入一步者，杀.txt
/exports/修仙从逃出生天开始.txt/0063_惊为天人.txt
/exports/修仙从逃出生天开始.txt/0064_凡圣的隐忧.txt
/exports/修仙从逃出生天开始.txt/0065_出发，东海龙宫.txt
/exports/修仙从逃出生天开始.txt/0066_风波起.txt
/exports/修仙从逃出生天开始.txt/0067_龙宫风云（一）.txt
/exports/修仙从逃出生天开始.txt/0068_龙宫风云（二）.txt
/exports/修仙从逃出生天开始.txt/0069_龙宫风云（三）.txt
/exports/修仙从逃出生天开始.txt/0070_进入龙宫.txt
/exports/修仙从逃出生天开始/0071_0080_chapters.txt
/exports/修仙从逃出生天开始.txt/0071_夺宝.txt
/exports/修仙从逃出生天开始.txt/0072_铁棒.txt
/exports/修仙从逃出生天开始.txt/0073_四方云动.txt
/exports/修仙从逃出生天开始.txt/0074_立威.txt
/exports/修仙从逃出生天开始.txt/0075_受伤，事了.txt
/exports/修仙从逃出生天开始.txt/0076_偷袭.txt
/exports/修仙从逃出生天开始.txt/0077_普天同庆.txt
/exports/修仙从逃出生天开始.txt/0078_偷袭.txt
/exports/修仙从逃出生天开始.txt/0079_逃脱.txt
/exports/修仙从逃出生天开始.txt/0080_安全.txt
/exports/修仙从逃出生天开始/0081_0090_chapters.txt
/exports/修仙从逃出生天开始.txt/0081_长白山.txt
/exports/修仙从逃出生天开始.txt/0082_小院.txt
/exports/修仙从逃出生天开始.txt/0083_老人.txt
/exports/修仙从逃出生天开始.txt/0084_融合.txt
/exports/修仙从逃出生天开始.txt/0085_金丹.txt
/exports/修仙从逃出生天开始.txt/0086_一颗.txt
/exports/修仙从逃出生天开始.txt/0087_三颗.txt
/exports/修仙从逃出生天开始.txt/0088_出关.txt
/exports/修仙从逃出生天开始.txt/0089_交底.txt
/exports/修仙从逃出生天开始.txt/0090_故事.txt
/exports/修仙从逃出生天开始/0091_0100_chapters.txt
/exports/修仙从逃出生天开始.txt/0091_告别.txt
/exports/修仙从逃出生天开始.txt/0092_离去.txt
/exports/修仙从逃出生天开始.txt/0093_回家.txt
/exports/修仙从逃出生天开始.txt/0094_见面.txt
/exports/修仙从逃出生天开始.txt/0095_对策.txt
/exports/修仙从逃出生天开始.txt/0096_猎杀.txt
/exports/修仙从逃出生天开始.txt/0097_对战元婴.txt
/exports/修仙从逃出生天开始.txt/0098_联手对敌.txt
/exports/修仙从逃出生天开始.txt/0099_阵杀.txt
/exports/修仙从逃出生天开始.txt/0100_联袂杀敌.txt
/exports/修仙从逃出生天开始/0101_0110_chapters.txt
/exports/修仙从逃出生天开始.txt/0101_骗人.txt
/exports/修仙从逃出生天开始.txt/0102_试探.txt
/exports/修仙从逃出生天开始.txt/0103_布局.txt
/exports/修仙从逃出生天开始.txt/0104_初登武当.txt
/exports/修仙从逃出生天开始.txt/0105_相见.txt
/exports/修仙从逃出生天开始.txt/0106_武当.txt
/exports/修仙从逃出生天开始.txt/0107_武当仙境.txt
/exports/修仙从逃出生天开始.txt/0108_庇护.txt
/exports/修仙从逃出生天开始.txt/0109_传言.txt
/exports/修仙从逃出生天开始.txt/0110_流言.txt
/exports/修仙从逃出生天开始/0111_0120_chapters.txt
/exports/修仙从逃出生天开始.txt/0111_暗波流动.txt
/exports/修仙从逃出生天开始.txt/0112_嚣张.txt
/exports/修仙从逃出生天开始.txt/0113_邋遢道士.txt
/exports/修仙从逃出生天开始.txt/0114_战书.txt
/exports/修仙从逃出生天开始.txt/0115_商讨.txt
/exports/修仙从逃出生天开始.txt/0116_昆仑.txt
/exports/修仙从逃出生天开始.txt/0117_昆仑掌教.txt
/exports/修仙从逃出生天开始.txt/0118_调节.txt
/exports/修仙从逃出生天开始.txt/0119_再起波澜.txt
/exports/修仙从逃出生天开始.txt/0120_战前小菜.txt
/exports/修仙从逃出生天开始/0121_0130_chapters.txt
/exports/修仙从逃出生天开始.txt/0121_星耀扬威.txt
/exports/修仙从逃出生天开始.txt/0122_正餐开始.txt
/exports/修仙从逃出生天开始.txt/0123_十招.txt
/exports/修仙从逃出生天开始.txt/0124_惨烈.txt
/exports/修仙从逃出生天开始.txt/0125_还有七招.txt
/exports/修仙从逃出生天开始.txt/0126_层出不穷.txt
/exports/修仙从逃出生天开始.txt/0127_炸丹.txt
/exports/修仙从逃出生天开始.txt/0128_无耻.txt
/exports/修仙从逃出生天开始.txt/0129_那是什么.txt
/exports/修仙从逃出生天开始.txt/0130_散仙.txt
/exports/修仙从逃出生天开始/0131_0140_chapters.txt
/exports/修仙从逃出生天开始.txt/0131_消失.txt
/exports/修仙从逃出生天开始.txt/0132_我会修散仙？笑话！.txt
/exports/修仙从逃出生天开始.txt/0133_信任.txt
/exports/修仙从逃出生天开始.txt/0134_心态.txt
/exports/修仙从逃出生天开始.txt/0135_静心.txt
/exports/修仙从逃出生天开始.txt/0136_阴阳相济，太极生.txt
/exports/修仙从逃出生天开始.txt/0137_新的打算.txt
/exports/修仙从逃出生天开始.txt/0138_苍茫山.txt
/exports/修仙从逃出生天开始.txt/0139_寒潭.txt
/exports/修仙从逃出生天开始.txt/0140_潭底的秘密.txt
/exports/修仙从逃出生天开始/0141_0146_chapters.txt
/exports/修仙从逃出生天开始.txt/0141_钉耙.txt
/exports/修仙从逃出生天开始.txt/0142_大阵，起！.txt
/exports/修仙从逃出生天开始.txt/0143_星斗显威.txt
/exports/修仙从逃出生天开始.txt/0144_天机降临.txt
/exports/修仙从逃出生天开始.txt/0145_天机现世.txt
/exports/修仙从逃出生天开始.txt/0146_天机窥伺.txt
/data/novel/续写143.txt
/logs/backend.log.1
/codeline_report_20260403_172359.txt
/plaintext.md
/plaintext.py
/data/inktrace.db-shm
/data/inktrace.db-wal
/docs/~$kTrace-基础方案-落地文档-v1.docx
